#sobre-mi{
    width: 100vw;
    display: flex;
    flex-flow: column;
    padding-bottom: 10px;
    padding: 80px 50px 0px 50px;
    img{
        padding-bottom: 20px;
        border-bottom: 1px solid #000;
    }
    .sobre-mi_contenedor{
        h1{
            padding-top: 20px;
            font-weight: 900;
        }
    }
}