$colorPrincipal: rgb(255, 189, 57);
$colorAudiovisual: rgb(85, 138, 174);
$colorRedes: #bdad9a;
$colorRetoque: #ba5755;
$colorCreativa: rgb(218, 148, 174);
$colorFotoperiodismo: rgb(136, 129, 120);

$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;